<div class="container-fluid footer">
    <div class="row">
        <!--  name  -->
        <div class="col-lg-6">
            <h1>Proyecto Final - Luis Angel Beltran Sanchez</h1>
        </div>
        <!--  nav  -->
        <div class="col-lg-4">
            <a routerLink="">Todos Los Posts</a>
            <a routerLink="post/1">Posts</a>
            <a routerLink="comment/1">Comentarios</a>
        </div>
        <div class="col-lg-2">
            <p>Pagina creada por un estudiante todos los derechos reservados 2022.</p>
        </div>


    </div>
</div>